// Colors
$maroon: #7b2240;
$maroon-80: rgba(138,30,65,.8);
$yellow: #FAD129;
$yellow-lighter: #F0CE46;

$white: #fff;

//$gray-light: ;
$gray-med: #D9D9D9;
$gray-05: #AEB2B5;
$gray-10: #636569;
$gray-11: #54565a;
$black-35: #232323;

// Line Weights
$OnePX: 1px solid;
$TwoPX: 2px solid;
$ThreePX: 3px solid;
$FourPX: 4px solid;

// Breaks for visibility
// $small-breakpoint:  em-calc(600);
// $medium-breakpoint: em-calc(768);
// $large-breakpoint:  em-calc(1024);
// $xlarge-breakpoint: em-calc(1400);

$phoneS: 640px; // smaller = mobile, 640-0 is mobile
$tabletS: 1025px; // smaller = tablet, 1024-640 is tablet
$desktopS: 1440px; // smaller = desktop, 1440-1024 is DT
$x-largeS: 1920px; // unused

// @media query examples

// affects BETWEEN max and min. Max is the larger #; Min is the smaller #
@media screen and (max-width: $desktopS) and (min-width: $phoneS) {}

// affects BELOW max-width
@media only screen and (max-width: $desktopS) {}

// affects ABOVE min-width 
@media only screen and (min-width: $desktopS) {}

// D T P // @media #{$BelowD} {}
$BelowD: "only screen and (max-width: "+$desktopS+")";
$BelowT: "only screen and (max-width: "+$tabletS+")";
$BelowP: "only screen and (max-width: "+$phoneS+")";

$AboveP: "only screen and (min-width: "+$phoneS+")";
$AboveT: "only screen and (min-width: "+$tabletS+")";
$AboveD: "only screen and (min-width: "+$desktopS+")";


///////////////////////////////////////////////////////////////////////////////////////////
// Fonts
$comeniaR: 'ComeniaSansCondRegular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
$comeniaB: 'ComeniaSansCondBold', 'ComeniaSansCondRegular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;

///////////////////////////////////////////////////////////////////////////////////////////

// test styles
//.row, .columns {border: $OnePX $yellow;} //yellow border}

///////////////////////////////////////////////////////////////////////////////////////////
// Custom Rows Needs
.maroonBar {height: 30px; width: 100%;}
header {height: 181px;}
.mobileNav {height: 65px;}
.mobileSpacer {height: 65px;}
//footer {height: 413px;}

///////////////////////////////////////////////////////////////////////////////////////////

// Full Width
.full-width {
	width: 100%;
	max-width: 100%;
	//min-width: 1400px;
	// background-image: url("image.jpg"); // this probably needs to be inline vs here if we choose to have something other than color.
	//margin: auto;
}

// backgrounds 
.yellowBG {background-color: $yellow;}
.maroonBG {background-color: $maroon;}
.gray-medBG {background-color: $gray-med;}
.gray-10BG {background-color: $gray-10;}
.gray-11BG {background-color: $gray-11;}
.white {background-color: $white;}

// Hiding
.hoas {display: none;}
.soas {}
// Only Hide on Small Screens
@media only screen and (max-width: $phoneS) {.hosas {display: none;}}
// Only Hide on Tablet and smaller Screens
@media only screen and (max-width: $tabletS) {.hotas {display: none;}}
// Hide on Desktop and Smaller Screens
@media only screen and (max-width: $desktopS) {.hodas {display: none;}}

// Showing
// Show on Desktop and Smaller Screens
@media only screen and (min-width: $desktopS) {.sodas {display: none;}}
// Only Show on Tablet and Smaller Screens
@media only screen and (min-width: $tabletS) {.sotas {display: none;}}
// Only Show on Smaller Smaller
@media only screen and (min-width: $phoneS) {.sopas {display: none;}}

// SkipNav 
#skipnav {
	a {
		position:absolute;
		z-index:3000;
		clip:rect(0 0 0 0);
		height:1px;
		width:1px;
		padding-bottom:25px;
		&:hover, &:focus, &:active{
			clip:auto;
			left:0;top:0;
			width:100%;
			height:auto;
			margin:0;
			padding:10px 0;
			background:#fdf6e7;
			border:2px solid #990000;
			border-left:none;
			border-right:none;
			text-align:center;
			font-weight:bold;
			color:#990000;
		}
	}
}

///////////////////////////////////////////////////////////////////////////////////////////
/* Slider */


// Slick
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Slider  Arrows */
.slick-prev,
.slick-next {
  z-index: 1000;
  position: absolute;
  display: block;
  height: 62px;
  width: 50px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background-color: $maroon;
  color: transparent;
  top: calc(50% - 45px); // 47%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  &:hover, &:focus {
    outline: none;
    background-color: $maroon;
    color: transparent;
    &:before {
      opacity: 1;
    }
  }
}

.slick-prev {
	left: 0px;
}

.slick-next {
  right: 0px;
}

// Slides
.banner {
  .element {
    position: relative;
    img {
    }
    .textElements {
      z-index: 200;
      background-color: $maroon-80;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 5px 5px 5px 5px;
      p {
        color: $white;
        a {
          //color: $yellow;
          color: $white; //testing
          background-color: $yellow; //testing
          &:hover { //this setup fails ADA
            color: $white;
            background-color: $yellow; 
          }
        }
      }
    }
  }
}






///////////////////////////////////////////////////////////////////////////////////////////
// Mobile Nav - see those additional SCSS files except for some custom things:

//@media only screen and (min-width: $tabletS) {.sotas {display: none;}}
//.mobileNav {position: fixed;}
//header {position: default;}

@media only screen and (max-width: $tabletS) {
  header {position: fixed; top: 0px; z-index: 2000; height: 65px;}
  .maroonBar {position: fixed; top: 0; z-index: 2000;}
}

.mobileNav {
  .searchGlass {
    position: absolute;
    left: 91px;
    top: 20px;
    @media only screen and (max-width: $phoneS) {
      left: 65px;
    }
  }
  .BC-mobileBar {
    //display: block;
    //margin: auto;
    text-align: center;
    img {
      position: relative;
      top: 9px;
      width: 119px;
      height: 50px;
    }
  }
  .CUNY-mobileBar {
    position: absolute;
    right: 18px;
    top: 16px;
    width: 34px;
    height: 34px;
  }
}

.hc-nav-trigger {
  left: 18px;
  padding: 0 0 0 0;
  span {
    background: $black-35;
    &:before, &:after {
      background: $black-35;
    }
  }
}

//.nav-wrapper { //this is the wrapper for the nav to color it. This can be done last.
  //background-color: $white !important;
//}

#hc-nav-1 {
  .nav-title {
    display: none;
    //z-index: 999;
    //padding: 0 40px 0 10px;
    //margin: 35px 5px 0 0;
    //font-family: $comeniaR;
    //position: fixed;
    //right: -110px;
    //top: -2px;
    //background-color: $gray-11;
    //border-radius: 4px;
  }
  .nav-close a {
    display: none;
    //z-index: 1000;
    //right: -110px;
    //&:hover {
    //  background-color: $yellow;
    //}
  }
  .logo {
    padding: 35px 0 0 13px;
    width: 250px;
    .BCMobile {

    }
    .CUNYMobile {
      position: relative;
      left: 15px;
      bottom: 10px;
    }
  }
  .social {
    padding: 0 0 20px 13px;
    margin: 0;
    position: relative;
    //left: 15px;
    //bottom: 85px;
    li {
      display: inline-block;
      width: 35px;
      height: 35px;
      margin: 0 8px 0 0;
      &:last-of-type {
        margin: 0;
      }
      a {
        width: 35px;
        height: 35px;
        padding: 0;
        margin: 0;
        img {
          width: 35px;
          height: 35px;
          border-radius: 6px;
        }
      }
    }
  }
  .HeaderButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 0 0 13px;
    li {
      //display: inline-block;
      width: 50%;
      &:last-of-type {
        display: none;
      }
      a {
        width: 92%;
        display: inline-block;
        background-color: $gray-11;
        color: $white;
        font-family: $comeniaR;
        text-align: center;
        font-size: 19px;
        line-height: 15px;
      }
    }
  }
  .FooterButtons {
    padding: 7px 0 0 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    li {
      width: 100%;
      display: block;
      padding: 0 0 10px 0;
      a {
        width: 96%;
        display: inline-block;
        background-color: $yellow;
        color: $black;
        font-family: $comeniaR;
        text-align: center;
        font-size: 19px;
        line-height: 15px;
      }
    }
  }
}

.hc-offcanvas-nav.disable-body.nav-open::after, .hc-offcanvas-nav .sub-level-open::after {
  cursor: pointer;
}

///////////////////////////////////////////////////////////////////////////////////////////
// Desktop Nav

header {
.BC {
  position: absolute;
  left: 54px;
  top: 33px;
  width: 276px;
  height: 116px;
  //width: 100%;
  &:hover {
    opacity: 0;
  }
  @media screen and (max-width: 1190px) {
    //width: 75%;
    left: 20px;
  }
  @media screen and (max-width: 1115px) {
    //width: 75%;
    width: 220px;
    height: 92px;
    top: 15px;
  }
}
.BC-hover {
  position: absolute;
  left: 54px;
  top: 33px;
  width: 276px;
  height: 116px;
  @media screen and (max-width: 1190px) {
    //width: 75%;
    left: 20px;
  }
  @media screen and (max-width: 1115px) {
    //width: 75%;
    width: 220px;
    height: 92px;
    top: 15px;
  }
}

.buttons {
  position: absolute;
  top: 49px;
  right: 180px;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    padding: 0 23px 0 0;
    &:last-of-type {
      padding: 0;
    }
    a {
      display: inline-block;
      width: 111px;
      height: 31px;
      border-radius: 16px;
      padding: 0;
      margin: 0;
      background-color: $gray-10;
      //padding: 5px 5px 5px 5px;
      text-align: center;
      color: $white;
      font-family: $comeniaB;
      font-size: 18px;
      line-height: 32px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        background-color: $maroon;
      }
    }
  }
}

.CUNY {
  position: absolute;
  right: 35px;
  top: 49px;
  &:hover {
    opacity: 0;
  }
  @media screen and (max-width: 1190px) {
    right: 20px;
  }
}
.CUNY-hover {
  position: absolute;
  right: 35px;
  top: 49px;
  @media screen and (max-width: 1190px) {
    right: 20px;
  }
}

.desktopNav {
  .first-nav { //ul
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 104px;
    right: 195px;
    //width: calc(100% + 50px);
    //max-width: 775px;
    //border: 1px solid #000; 
    @media screen and (max-width: 1190px) {
      right: 175px;
    }
    li {
      //border: 1px solid #000; 
      //text-align: center;
      position: relative;
      display: inline;
      //line-height: 1;
      padding: 0;
      margin: 0 29px 0 0; //0 44px 0 0
      @media screen and (max-width: 1345px) {
        margin: 0 22px 0 0;
      }
      @media screen and (max-width: 1285px) {
        margin: 0 15px 0 0;
      }
      @media screen and (max-width: 1240px) {
        margin: 0 7px 0 0;
      }
      @media screen and (max-width: 1190px) {
        margin: 0 0px 0 0;
      }
      &:last-of-type {
        margin: 0;
      }
      &:hover ul {
        left: 0;
        transition-property: left;
        transition-duration: 0s;
        transition-delay: 0s;
      }
      &:hover:last-of-type ul {
        //left: -80px;
      }
      &:hover > a {
        color: $white;
        background-color: $black;
        padding: 6px;
      }
      a {
        text-transform: uppercase;
        font-family: $comeniaB;
        font-size: 20px;
        text-decoration: none;
        color: $gray-11;
        padding: 4px 6px 4px 6px;
        margin: 0;
      }
      .subnavs {
        z-index: 200;
        position: absolute;
        left: -9999px; //-9999
        top: 22px;
        list-style: none;
        background-color: $black;
        //border: $OnePX $black-35;
        padding: 17px 0 40px 0;
        margin: 0;
        width: 225px;
        //opacity: 0;
        transition-property: left;
        transition-duration: 0s;
        transition-delay: 0s;
        &:hover {
          left: 0;
          //opacity: 1;
          

        }

        li {
          display: block;
          width: 100%;
          background-color: $black;
          padding: 2px 0 2px 25px;
          &:hover {
            background-color: $gray-10;
            
          }
          &:hover > a {
            padding: 0 1px 0 6px;
            background-color: $gray-10;
            //padding: 20px;

          }
          a {
            font-size: 18px;
            text-decoration: none;
            text-transform: none;
            color: $white;
            //padding: 24px 0 35px 27px;
            
          }
        }
      }
    }
  }
}
} // header

///////////////////////////////////////////////////////////////////////////////////////////
// Alert

.alert {
  &:hover {
    background-color: $white;
  }
  h2 {
    font-family: $comeniaR;
    font-size: 24px;
    margin: 0 0 0 0;
    padding: 0;
    text-align: center;
    @media #{$BelowT} {
      font-size: 18px;
      //padding: 6px 0 6px 0;
    }
    a {
      padding: 9px 0 9px 0;
      display: block;
      height: 100%;
      text-decoration: none;
      color: $black-35;
    }
  }
}


///////////////////////////////////////////////////////////////////////////////////////////
// Footer

footer {
.part1 {
  height: 413px;
  //border: 1px solid $black;
  position: relative;
  @media screen and (max-width: 1024px) {
    height: 820px;
  }
  @media screen and (max-width: 767px) {
    height: 500px;
  }
.logoContact {
  .BC, .BC-hover {
    position: absolute;
    left: 70px;
    top: 27px;
    @media screen and (max-width: 1024px) {
      left: 78px;
      top: 44px;
      width: 203px;
      height: 85px;
    }
    @media screen and (max-width: 767px) {
      left: 15px;
      top: 22px;
      width: 153px;
      height: 64px;
    }
  }
  .BC:hover {
    opacity: 0;
  }

  .CUNY, .CUNY-hover {
    position: absolute;
    left: 173px;
    top: 140px;
    @media screen and (max-width: 1024px) {
      left: 171px;
      top: 145px;
      width: 112px;
      height: 47px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .CUNY:hover {
    opacity: 0;
  }

  .CUNY-mobile, .CUNY-hover-mobile {
    display: none;
    position: absolute;
    right: 15px;
    top: 22px;
    width: 97px;
    height: 41px;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  .address {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 174px;
    top: 290px;
    font-size: 14px;
    line-height: 27px;
    font-family: $comeniaR;
    color: $white;
    letter-spacing: .2px;
    @media screen and (max-width: 1200px) {
      //left: 78px;
      //top: 231px;
      top: 230px;
      line-height: 19px;
      font-size: 12.5px;
    }
    @media screen and (max-width: 1100px) {
      //top: 230px;
    }
    @media screen and (max-width: 1024px) {
      left: 78px;
      top: 231px;
    }
    @media screen and (max-width: 767px) {
      left: 15px;
      top: 104px;
    }
  }
} // logoContact


nav.navWrapper {
  //display: none;
  //border: 1px solid $yellow;
  position: relative;
  float: right;
  width: calc(100% - 500px);
  right: 180px;
  top: 58px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  @media screen and (max-width: 1400px) {
    right: calc(185px - ((1400px - 100%) / 2.5));
    width: calc(900px - ((1400px - 100%) / 1.75));
  }

  

  @media #{$BelowT} {
    display: block;
    flex: none;
    width: 248px;
    right: 65px;
    top: 35px;

  }

  @media screen and (max-width: 767px) {
    display: none;
  }
  .nav {
    //border: 1px solid $black;
    list-style: none;
    margin: 0 80px 0 0;
    padding: 0;
    &:last-of-type {
      margin: 0 0 0 0;
    }
    @media screen and (max-width: 1200px) {
      margin: 0 35px 0 0;
    }
    @media screen and (max-width: 1024px) {
      margin: 0 0 40px 0;
    }
    &.n1 {
      
    }
    &.n2 {

    }
    &.n3 {

    }
    li {
      padding: 0 0 3px 0;
      &.label {
        font-weight: bolder;
        text-transform: uppercase;
        font-family: $comeniaB;
        color: $white;
        font-size: 15px;
      }
      a {
        font-family: $comeniaR;
        font-size: 14px;
        color: $white;
        text-decoration: none;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
} // nav.navWrapper

.socialButtons {
  //border: 1px solid $yellow;
  position: absolute;
  right: 78px;
  bottom: -195px;
  @media screen and (max-width: 1350px) {
    right: 30px;
  }
  @media screen and (max-width: 1024px) {
    left: 78px;
    top: 320px;
  }
  @media screen and (max-width: 767px) {
    left: 15px;
    top: 185px;
    right: 15px;
  }
  .social {
    display: inline-block;
    padding: 0;
    margin: 0 45px 0 0;
    //position: absolute;
    list-style: none;
    //top: 48px;
    //left: 487px;
    li {
      display: inline-block;
      //background-color: $white;
      width: 54px;
      height: 54px;
      
      margin: 0 4px 0 0;
      padding: 0;
      &:last-of-type {
        margin: 0;
      }
      @media screen and (max-width: 1024px) {
        width: 50px;
        height: 50px;
      }
      @media screen and (max-width: 767px) {
        width: 42px;
        height: 42px;
      }
      a {
        img {
          width: 54px;
          height: 54px;
          border-radius: 10px;
          @media screen and (max-width: 1024px) {
            width: 50px;
            height: 50px;
          }
          @media screen and (max-width: 767px) {
            width: 44px;
            height: 44px;
          }
        }
      }
    }
    @media screen and (max-width: 1250px) {
      margin: 0 15px 0 0;
    }
  }

  .buttons {
    display: inline-block;
    padding: 0;
    margin: 0;
    //position: absolute;
    list-style: none;
    //top: 48px;
    //right: 80px;
    @media screen and (max-width: 1024px) {
      display: block;
      padding: 65px 0 0 0;
    }
    li {
      display: inline-block;
      padding: 0 30px 0 0;
      &:last-of-type {
        padding: 0;
      }
      a {
        display: inline-block;
        width: 136px;
        height: 50px;
        border-radius: 8px;
        padding: 0;
        margin: 0;
        background-color: $yellow;
        text-align: center;
        color: $black;
        font-family: $comeniaR;
        font-size: 19px;
        line-height: 50px;
        text-decoration: none;
        &:hover {
          background-color: $white;
          color: $maroon;
        }
        @media screen and (max-width: 1350px) {
          width: 110px;
          height: 40px;
          font-size: 17px;
          line-height: 41px;
        }
        @media screen and (max-width: 1024px) {
          width: 195px;
          height: 40px;
          font-size: 19px;
          line-height: 43px;
        }
        @media screen and (max-width: 767px) {
          width: 100%;
          font-size: 19px;
          line-height: 43px;
        }
      }
      @media screen and (max-width: 1350px) {
        padding: 0 15px 0 0;
      }
      @media screen and (max-width: 1024px) {
        display: block;
        padding: 0 0 20px 0;
      }
      @media screen and (max-width: 767px) {
        
      }
    }
  }
} // socialButtons



} // part 1

.part2 {
  height: 162px;
  border: 1px solid $black;
  //padding: 0 0 42px 0;





} //part 2
} //for footer