//$global-width: 1500px;

//Site Width
//$row-width: 1500px; //change up to what you want
//$total-columns: 12;

$row-width: 1400px;
$column-gutter: 0px;
$total-columns: 12;

//$small-breakpoint:  em-calc(600);
//$medium-breakpoint: em-calc(768);
//$large-breakpoint:  em-calc(1024);
//$xlarge-breakpoint: em-calc(1400);